*~
.*.swp
*.log
*.patch
*.diff
.classpath
.project
.settings
.metadata
.wtpmodules
bin
*.iml
*.idea/*
*.idea/libraries*
*.idea/workspace.xm
.idea/workspace.xmll
atlassian-ide-plugin.xml
target/
out/
WEB-INF/private/
/Servers
.DS_Store
=======
node_modules/
dist/
coverage/
npm-debug.log
yarn-error.log
# Editor directories and files
.editorconfig
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/launch.json
tests/e2e/reports/
# Visula Studio Code Extentions
TODO
